<ul class="menu__list">
    <li class="menu__item">
        <a class="menu__link" href="#dom">1 - Dom</a>
    </li>
    <li class="menu__item">
        <a class="menu__link" href="#ui">2 - Ui</a>
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="#atoms">2.1 - Atoms (vanilla)</a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-loader">2.1.1 - Loader</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-label">2.1.2 - Label</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-error">2.1.3 - Error</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-checkbox">2.1.4 - Checkbox</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-radio">2.1.5 - Radio</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-input">2.1.6 - Input</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-textarea">2.1.7 - Textarea</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-select">2.1.8 - Select</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-picture">2.1.9 - Picture</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#atoms-react">2.2 - Atoms (React)</a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-react-loader">2.2.1 - Loader</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#atoms-react-select">2.2.2 - Select</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#components">2.3 - Components (vanilla)</a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#components-checkbox">2.3.1 - Checkbox</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#components-radio">2.3.2 - Radio</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#components-input">2.3.3 - Input</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#components-textarea">2.3.4 - Textarea</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#components-select">2.3.5 - Select</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#components-gmap-basic">2.3.6 - Gmap - Basic</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#components-gmap-advanced">2.3.7 - Gmap - Advanced</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#modal-test">2.3.8 - Modal</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#components-react">2.4. - Components (React)</a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#components-react-input">2.4.1 - Input</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#components-react-select">2.4.2 - Select</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__link" href="#validatory">3 - Validatory</a>
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="#validatory-vanilla">3.1 - Vanilla</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#validatory-react">3.2 - React</a>
            </li>
        </ul>
    </li>
</ul>
