{##
    This file is part of the Front Foundation package.

    Copyright (c) 2017-present LIN3S <info@lin3s.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @author Mikel Tuesta <mikeltuesta@gmail.com>
#}

{##
    This atom will display a form label.

    @param label_class_name       string=null
    @param label_modifiers        string=null
    @param label_content          string*
    @param label_required         bool=false
    @param label_for              string=null

#}

<label class="form-label{% if label_modifiers|default %} {{ label_modifiers }}{% endif %} {{ label_class_name }}"{% if label_for|default %} for="{{ label_for }}"{% endif %}>
    {% if label_required|default(false) %}
        <span class="form-label__required">*</span>
    {% endif %}
    {{ label_content|raw }}
</label>
