{##
    @param loader_class_name    string=null
    @param loader_modifiers     string=null
#}

{% set class = 'class="loader ' ~ loader_class_name|default ~ ' ' ~ loader_modifiers|default ~ '"'  %}

<div {{ class|raw }}></div>
