{##
    This file is part of the Front Foundation package.

    Copyright (c) 2017-present LIN3S <info@lin3s.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @author Mikel Tuesta <mikeltuesta@gmail.com>
#}

{##
    This componenet will display a form group composed by an @atoms/form_label, an @atom/form_input and an
    @atoms/form_error.

    @param input_required           bool=false
    @param input_id                 string=*
    @param input_label_class_name   string=null
    @param input_label_modifiers    array|string=null
    @param input_label_title        atring=null
    @param input_error_content      string=null
    @param input_error_modifiers    array|string=null
    @param input_class_name         string=null
    @param input_modifiers          array|string=null
    @param input_placeholder        string*
    @param input_type               string='text'
#}

<div class="form-group-input">
    {% if input_label_title|default %}
        <div class="form-group__label">
            {% include '@lin3s_front_foundation/atoms/form_label.html.twig' with {
                label_for: input_id,
                label_required: input_required,
                label_class_name: input_label_class_name,
                label_modifiers: input_label_modifiers,
                label_title: input_label_title
            } %}
        </div>
    {% endif %}

    {% include '@lin3s_front_foundation/atoms/form_input.html.twig' with {
        input_type: input_type,
        input_id: input_id,
        input_class_name: input_class_name,
        input_modifiers: input_modifiers,
        input_placeholder: input_placeholder,
        input_required: input_required
    } %}

    {% if input_error_content|default %}
        <div class="form-group-input__error">
            {% include '@lin3s_front_foundation/atoms/form_error.html.twig' with {
                error_content: input_error_content,
                error_modifiers: input_error_modifiers
            } %}
        </div>
    {% endif %}
</div>
