{##
    This will be the base component for the gmap marker detail view. It's content will be embed.

    @embed gmap_marker_detail_content
#}

{% set gmap_marker_detail_content %}
    {%- block gmap_marker_detail_content -%}{%- endblock -%}
{% endset %}

{% set gmap_marker_detail_close_button %}
    {%- block gmap_marker_detail_close_button -%}
        {% include '@lin3s_front_foundation/svg/close.svg.twig' %}
    {%- endblock -%}
{% endset %}

{% set gmap_marker_detail_loader %}
    {%- block gmap_marker_detail_loader -%}
        {% include '@lin3s_front_foundation/atoms/loader.svg.twig' %}
    {%- endblock -%}
{% endset %}

<div class="gmap-marker-detail">
    {% include '@lin3s_front_foundation/svg/triangle.svg.twig' with {
        direction: 'bottom'
    } %}
    <button class="gmap-marker-detail__close">
        {{ gmap_marker_detail_close_button|raw }}
    </button>
    <div class="gmap-marker-detail__loader">
        {{ gmap_marker_detail_loader|raw }}
    </div>
    <div class="gmap-marker-detail__content">
        {{ gmap_marker_detail_content|raw }}
    </div>
</div>
