<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <script src="/dist/app.js"></script>

    <h1>Lin3s Front Foundation</h1>
    <h2>Test App page</h2>
    <main>
        <section class="images">
            <h3>This content will be used to test the <i>Dom.waitImagesLoadInDomNode</i> method.</h3>
            <div class="images__collection">
                <img src="http://lorempixel.com/800/600/abstract"/>
                <img src="http://lorempixel.com/800/600/nightlife"/>
                <img src="http://lorempixel.com/800/600/city"/>
                <img src="http://lorempixel.com/800/600/people"/>
            </div>
        </section>

        <section class="gmap">
            <h3>This is a basic <i>gmap component</i> usage case.</h3>

        </section>
    </main>
</body>
</html>
